* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f8fc;
    color: #222;
}

/* NAVIGATION */

.navbar {
    background: #003b70;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 9px;
}

.logo-area img {
    width: 40px !important;
    height: 40px !important;
    max-width: 40px !important;
    max-height: 40px !important;
    object-fit: contain;
}

.logo-area h2 {
    color: white;
    margin: 0;
    font-size: 19px;
}

.navbar ul {
    display: flex;
    gap: 22px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #f5b400;
}


/* ABOUT HERO */

.about-hero {
    background: linear-gradient(135deg, #003b70, #007a45);
    color: white;
    text-align: center;
    padding: 75px 20px;
}

.about-hero h1 {
    font-size: 44px;
    margin: 0 0 15px;
}

.about-hero p {
    color: #f5b400;
    font-weight: bold;
    font-size: 18px;
}


/* ABOUT CONTENT */

.about-content {
    max-width: 1100px;
    margin: 55px auto;
    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.about-box {
    background: white;
    padding: 30px;

    border-radius: 12px;
    border-top: 5px solid #007a45;

    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

.about-box:hover {
    transform: translateY(-6px);
}

.about-box h2 {
    color: #003b70;
    margin-top: 0;
}

.about-box p {
    color: #555;
    line-height: 1.7;
}

.values {
    padding-left: 20px;
    line-height: 2;
    color: #555;
}

.values li::marker {
    color: #f5b400;
}


/* FOOTER */

footer {
    background: #003b70;
    color: white;
    text-align: center;
    padding: 35px 20px;
}

footer h2 {
    color: #f5b400;
}

footer p {
    line-height: 1.6;
}


/* MOBILE */

@media (max-width: 800px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .about-hero h1 {
        font-size: 34px;
    }
}